.card {
  position: relative;
  display: inline-block;
  color: $white;
  overflow: hidden;

  &:hover {
    color: $white;
  }

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0.00) 0%, $dark 100%);
  }

  &::after {
    opacity: 0;
    content: '';
    z-index: 7;
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;

    border: 3px double rgba(255,255,255,0.4);
    transition: opacity 0.3s ease-in;
  }

  &:hover::after{
    opacity: 1;
  }

  &:hover .card__img {
    transform: scale(1.1);

    filter: contrast(110%) brightness(1.2) saturate(1.2);
  }
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all .2s ease-in;
}


.card__title {
  position: absolute;
  bottom: 44px;
  left: 50px;
  right: 20px;
  z-index: 9;

  font-size: 24px;

  @include mediaTablet {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}