.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;

  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before {
  position: absolute;
  content: '';
  display: block;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  position: absolute;
  display: block;
  content: '';
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
  transition: top var(--time) ease-in transform var(--time) ease-in;
}


.nav-icon.nav-icon--active::after {
  top: 0;
  transform: rotate(45deg);
  transition: all var(--time) ease-in;
}

.nav-icon.nav-icon--active::before {
  top: 0;
  transform: rotate(-45deg);
  transition:  all var(--time) ease-in;
}